SITE_URL="http://localhost:8080"

SANITY_STUDIO_TITLE="project title"
SANITY_STUDIO_PROJECT_ID="sanity project id"
SANITY_STUDIO_DATASET="sanity dataset"
SANITY_AUTH_TOKEN="sanity auth token"
SANITY_STUDIO_APP_ID="dashboard app id (may not be available until after first studio deploy"
