@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
  }

  [x-cloak] {
    @apply !hidden;
  }

  /* Add fade page transition if reduced motion is not set */
  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
  }

  /* allura-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/allura-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }

  p {
  }

  blockquote {
  }

  table {
  }

  details {
  }

  ul {
  }

  ol {
  }

  a {
    @apply transition-colors duration-150;
  }
}

@layer components {
  .button {
  }
}

@layer utilities {
  .stretched-link::after {
    content: "";
    @apply absolute inset-0;
  }
}
